

.contact{
    text-align: center;
}

.footer{
    text-align: center;
}


#bootstrap-overrides{
    padding-top: 1rem;
    padding-left: 1rem;
}


.inline-block {
    display: inline-block;
    float: left;
    width: 50%;
    padding: 5px;
}

